<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <% if (mode === "Create") { %>
        Tạo sản phẩm mới
      <% } %>
      <% if (mode === "Update") { %>
        Cập nhật loại sản phẩm
      <% } %>
      <% if (mode === "Delete") { %>
        Bạn có đồng ý xoá sản phẩm <%=category?.name%>
      <% } %>
      
    </h4>
    <div class="card">
      <div class="card-body">
        <% if (mode === "Create") { %>
          <form action="/products/create" method="post">
        <% } %>
        <% if (mode === "Update") { %>
          <form action="/products/update/<%=product?._id%>" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=product?._id%>"
                id="id"
              />
            </div>
        <% } %>
        <% if (mode === "Delete") { %>
          <form action="/categories/delete" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=product?._id%>"
                id="id"
              />
            </div>
        <% } %>
          <div class="form-group <%=err?.code && 'has-error has-feedback'%>">
            <label for="code">Mã sản phẩm</label>
            <input
              name="code"
              type="text"
              value="<%=product?.code%>"
              class="form-control categoryInput"
              id="code"
              placeholder="Nhập mã sản phẩm"
            />
            <small class="form-text text-muted text-danger"><%=err?.code%></small>
          </div>
          <div class="form-group <%=err.name && 'has-error has-feedback'%>">
            <label for="name">Tên sản phẩm</label>
            <input
              name="name"
              type="text"
              value="<%=product?.name%>"
              class="form-control categoryInput"
              id="name"
              placeholder="Nhập tên sản phẩm"
            />
            <small class="form-text text-muted text-danger"><%=err?.name%></small>
          </div>
          <div class="form-group <%=err.searchString && 'has-error has-feedback'%>">
            <label for="searchString">Chuỗi tìm kiếm</label>
            <input
              name="searchString"
              type="text"
              value="<%=product?.searchString%>"
              class="form-control categoryInput"
              id="searchString"
              placeholder="Nhập tên chuỗi tìm kiếm"
            />
            <small class="form-text text-muted text-danger"><%=err?.searchString%></small>
          </div>
          <div class="form-group <%=err.price && 'has-error has-feedback'%>">
            <label for="price">Giá</label>
            <input
              name="price"
              type="number"
              value="<%=product?.price%>"
              class="form-control categoryInput"
              id="price"
              placeholder="Nhập giá"
            />
            <small class="form-text text-muted text-danger"><%=err?.price%></small>
          </div>
          <div class="form-group <%=err.images && 'has-error has-feedback'%>">
            <label for="image">Link hình ảnh</label>
            <input
              name="image"
              type="text"
              value="<%=typeof product?.images === 'object' ? product?.images[0] : ''%>"
              class="form-control categoryInput"
              id="image"
              placeholder="Nhập link hình ảnh"
            />
            <small class="form-text text-muted text-danger"><%=err?.images%></small>
          </div>
          <div class="form-group flex gap-2 <%=err.image && 'has-error has-feedback'%>">
            <label for="image">Size</label>
            <% sizes.forEach(function(size, index){ %>
              <label class="form-check-label">
                <%if((product.sizes || []).includes(size)){%>
                  <input class="form-check-input" type="checkbox" name="sizes" value="<%=size%>" checked>
                <%} else {%>
                  <input class="form-check-input" type="checkbox" name="sizes" value="<%=size%>">
                <%}%>
                <span class="form-check-sign"><%=size%></span>
            </label>
            <%})%>
            <small class="form-text text-muted text-danger"><%=err?.size%></small>
          </div>
          <div class="form-group flex gap-2 <%=err.image && 'has-error has-feedback'%>">
            <label for="image">Color</label>
              <% colors.forEach(function(color, index){ %>
                <label class="form-check-label flex flex-col">
                  <%if((product.colors || []).includes(color)){%>
                    <input class="form-check-input" type="checkbox" value="<%=color%>" name="colors" checked>
                  <%} else {%>
                    <input class="form-check-input" type="checkbox" value="<%=color%>" name="colors">
                  <%}%>
                  <span class="form-check-sign mr-1">
                  </span>
                  <span class="product-checkbox-label bg-<%=color%>"></span>
                </label>
              <%})%>
            <small class="form-text text-muted text-danger"><%=err?.size%></small>
          </div>
          <div class="form-group <%=err.active && 'has-error has-feedback'%>">
            <label for="image">Active</label>
            <%if(product?.active === "on"){%>
              <input type="checkbox" checked data-toggle="toggle" data-onstyle="default" name="active">
            <%} else{%>
              <input type="checkbox" data-toggle="toggle" data-onstyle="default" name="active">
              <%}%>
            
          </div>
          <div class="form-group <%=err.active && 'has-error has-feedback'%>">
            <label for="image">Description</label>
            <textarea class="form-control" id="comment" name="description" rows="5" active><%=product.description%></textarea>
          </div>
          <div class="form-group <%=err.active && 'has-error has-feedback'%>">
            <label for="image">Information</label>
            <textarea class="form-control" id="comment" name="information" rows="5"><%=product.information%></textarea>
          </div>
          <div class="form-group <%=err.active && 'has-error has-feedback'%>">
            <label for="image">Category</label>
            <select class="form-control form-control max-w-20 mb-4px" id="defaultSelect" name="categoryId">
              <% categories.forEach(function(category, index){%>
                <%if(category.id===product?.categoryIdString){%>
                  <option value="<%=category._id%>" selected><%=category.name%></option>
                <%}else{%>
                  <option value="<%=category._id%>"><%=category.name%></option>
                 <%}%>
        
              <%})%>
            </select>
          </div>
          <div class="card-action">
            <% if (mode === "Create") { %>
              <button class="btn btn-success" type="submit">Tạo</button>
            <% } %>
            <% if (mode === "Update") { %>
              <button class="btn btn-success" type="submit">Sửa</button>
            <% } %>
            <% if (mode === "Delete") { %>
              <button class="btn btn-danger" type="submit">Xoá</button>
            <% } %>

            <a class="btn btn-primary" href="/products">
              Danh sách sản phẩm
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
