<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <% if (mode === "Create") { %>
        Giả lập tạo đơn hàng mới
      <% } %>
      <% if (mode === "Update") { %>
        Cập nhật loại đơn hàng
      <% } %>
      <% if (mode === "Delete") { %>
        Giả lập huỷ đơn hàng <%=category?.name%>
      <% } %>
      
    </h4>
    <div class="card">
      <div class="card-body">
        <% if (mode === "Create") { %>
          <form action="/products/create" method="post">
        <% } %>
        <% if (mode === "Update") { %>
          <form action="/products/update/<%=order?._id%>" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=order?._id%>"
                id="id"
              />
            </div>
        <% } %>
        <% if (mode === "Delete") { %>
          <form action="/categories/delete" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=order?._id%>"
                id="id"
              />
            </div>
        <% } %>
          <div class="form-group <%=err?.discount && 'has-error has-feedback'%>">
            <label for="discount">Mức giảm giá</label>
            <input
              name="discount"
              type="number"
              value="<%=order?.discount%>"
              class="form-control categoryInput"
              id="discount"
              placeholder="Nhập mã sản phẩm"
            />
            <small class="form-text text-muted text-danger"><%=err?.discount%></small>
          </div>
          <div class="form-group">
            <label for="code">Danh sách sản phẩm</label>
            <div  id="listProduct">
              <div class="flex gap-2">
                <button class="btn btn-success itemButton" type="submit"><i class="la la-plus"></i></button>
                <select class="form-control form-control max-w-20 mb-4px" id="itemSelect" name="itemSelect">
                  <option value="">Chọn sản phẩm</option>
                  <% products.forEach(function(product, index){%>
                      <option value="<%=product._id + "-" + product.productCode%>"><%=product.name%></option>
                  <%})%>
                </select>
                <input
                  name="quantity"
                  type="number"
                  value="<%=order?.quantity%>"
                  class="form-control categoryInput"
                  id="quantity"
                  placeholder="Nhập số lượng"
                />
                <input
                  name="itemPrice"
                  type="number"
                  value="<%=order?.discount%>"
                  class="form-control categoryInput"
                  id="itemPrice"
                  disabled
                />
                <select class="form-control form-control max-w-20 mb-4px" id="itemColor" name="itemColor">
                  
                </select>
                <select class="form-control form-control max-w-20 mb-4px" id="itemSize" name="itemSize">
                  
                </select>
                <button class="btn btn-danger itemButton" type="submit"><i class="la la-trash"></i></button>
              </div>
              
            </div>
          </div>
          <p>Địa chỉ giao hàng</p>
          <div class="form-group">
            <label for="billingName">Tên khách hàng</label>
            <input
                  name="billingName"
                  type="text"
                  class="form-control categoryInput"
                  id="billingName"
                  placeholder="Nhập tên khách hàng"
                />
          </div>
          <div class="form-group">
            <label for="billingEmail">Email</label>
            <input
                  name="billingEmail"
                  type="email"
                  class="form-control categoryInput"
                  id="billingEmail"
                  placeholder="Nhập email"
                />
          </div>
          <div class="form-group">
            <label for="billingPhoneNunber">Số điện thoại</label>
            <input
                  name="billingPhoneNunber"
                  type="number"
                  class="form-control categoryInput"
                  id="billingPhoneNunber"
                  placeholder="Nhập số điện thoại"
                />
          </div>
          <div class="form-group">
            <label for="billingAddress">Địa chỉ</label>
            <input
                  name="billingAddress"
                  type="text"
                  class="form-control categoryInput"
                  id="billingAddress"
                  placeholder="Nhập địa chỉ"
                />
          </div>
          <div class="form-group">
            <label for="billingDistrict">Quận/Huyện</label>
            <input
                  name="billingDistrict"
                  type="text"
                  class="form-control categoryInput"
                  id="billingDistrict"
                  placeholder="Nhập quận/huyện"
              />
          </div>
          <div class="form-group">
            <label for="billingCity">Thành phố</label>
            <input
                  name="billingCity"
                  type="text"
                  class="form-control categoryInput"
                  id="billingCity"
                  placeholder="Nhập thành phố"
              />
          </div>


          <div class="card-action">
            <% if (mode === "Create") { %>
              <button class="btn btn-success" type="submit">Tạo</button>
            <% } %>
            <% if (mode === "Update") { %>
              <button class="btn btn-success" type="submit">Sửa</button>
            <% } %>
            <% if (mode === "Delete") { %>
              <button class="btn btn-danger" type="submit">Xoá</button>
            <% } %>

            <a class="btn btn-primary" href="/products">
              Danh sách sản phẩm
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
