<!DOCTYPE html>
<html>
	<%- include('../../layouts/head')%>
<body>
	<div class="wrapper">
		<%- include('../../layouts/main-header')%>
		<%- include('../../layouts/side-bar')%>
			<div class="main-panel">
				<%- include('../../components/orders/list'); %>
				<%- include('../../layouts/footer')%>
			</div>
		</div>
	</div>
	<%- include('../../components/common/modalCategory'); %>
</body>
<%- include('../../layouts/scripts/main'); %>
<%- include('../../layouts/scripts/notifications'); %>
<%- include('../../layouts/scripts/listCategory'); %>

</html>